html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.warp {
    display: flex;
    flex-wrap: wrap;    
}

.host {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.host > small {
    margin-left: auto;
}

.box {
    background-color: #CCC;   
    margin: 0 3mm 3mm 0;
    padding: 3mm;
}