@import "Flex.scss";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background-color: #CCC;       
    padding: 3mm;
}

.bad {
    color: red;
}