@import "Flex.scss";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3 {
    margin: 3mm 0;
}

.box {
    background-color: #F0F0F0;       
    padding: 3mm;
    width: 8cm;
    cursor: pointer;
}

.bad {
    color: red;
}

.chart {
    width: 100%;
    height: 4cm;
}