$space: 1mm;

@mixin hspace($n) {
    > * {
        margin-right: $n * $space;
        margin-left: 0;

        &:last-child {
            margin-right: 0;
        }
    }  
}

@mixin vspace($n) {
    > * {
        margin-bottom: $n * $space;
        margin-top: 0;

        &:last-child {
            margin-bottom: 0;
        } 
    }
}

@mixin wspace($n) {
    > * {
        margin: 0 $n * $space $n * $space 0;
    }
}

.flex {
    display: flex;

    &.h {
        flex-direction: row;

        &.s1 {
            @include hspace(1);
        }

        &.s3 {
            @include hspace(3);
        }

        &.center {
            align-items: center;            
        } 
        
        > .end {
            margin-left: auto;
        }        
    }

    &.v {
        flex-direction: column;

        &.s1 {
            @include vspace(1);
        }

        &.s3 {
            @include vspace(3);
        }   
        
        > .end {
            align-self: flex-end;
        }         
    }

    &.w {
        flex-wrap: wrap;

        &.s1 {
            @include wspace(1);
        }

        &.s3 {
            @include wspace(3);
        }       
    }

    > * {
        flex: 0 0 auto;     
    }    

    > .fill {
        flex: 1 1 auto;   

        &.auto {
            overflow: auto;
        }
    }    
}