$list-padding: 3mm;

.flex {
    display: flex;

    &.h {
        flex-direction: row;

        &.list {
            margin-right: $list-padding;
            margin-left: 0;
    
            &:last-child {
                margin-right: 0;
            }            
        }

        &.center {
            align-items: center;            
        }
    }

    &.v {
        flex-direction: column;

        &.list {
            margin-bottom: $list-padding;
            margin-top: 0;
    
            &:last-child {
                margin-bottom: 0;
            }            
        }        
    }

    &.w {
        flex-wrap: wrap;

        &.list {
            > * {
                margin: 0 $list-padding $list-padding 0;
            }
        }        
    }

    > * {
        flex: 0 0 auto;        
    }    

    > .fill {
        flex: 1 1 auto;   

        &.auto {
            overflow: auto;
        }
    }    
}